openapi: 3.0.3
info:
  title: Woovi
  description: >-
    A Woovi é uma Plataforma de Gestão de Pagamentos. Para utilizar nossa API
    você deve acessar  __[https://api.woovi.com/](https://api.woovi.com/)__ e
    somente o mesmo. A Woovi não aceita subdominios para a API.


    Veja como configurar seu acesso a nossa API
    [aqui](https://developers.woovi.com/docs/apis/api-getting-started).
  version: 1.0.0
servers:
  - url: https://api.woovi.com
    description: Production server
security:
  - AppID: []
paths:
  /api/v1/account/{accountId}:
    get:
      tags:
        - account
      summary: Get an Account
      parameters:
        - name: accountId
          in: path
          description: ID of the Account
          required: true
          schema:
            type: string
          example: 6290ccfd42831958a405debc
      responses:
        '200':
          description: The Account retrieve using the given Account ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    type: object
                    $ref: '#/components/schemas/CompanyBankAccount'
              example:
                account:
                  accountId: 6290ccfd42831958a405debc
                  isDefault: true
                  balance:
                    total: 129430
                    blocked: 0
                    available: 129430
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require("https");

            const options = {
              "method": "GET",
              "hostname": "api.woovi.com",
              "port": null,
              "path": "/api/v1/account/6290ccfd42831958a405debc",
              "headers": {
                "Authorization": "REPLACE_KEY_VALUE"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request GET \
              --url https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc \
              --header 'Authorization: REPLACE_KEY_VALUE'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.woovi.com")


            headers = { 'Authorization': "REPLACE_KEY_VALUE" }


            conn.request("GET", "/api/v1/account/6290ccfd42831958a405debc",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc")
              .get()
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: >-
            require 'uri'

            require 'net/http'

            require 'openssl'


            url =
            URI("https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Get.new(url)

            request["Authorization"] = 'REPLACE_KEY_VALUE'


            response = http.request(request)

            puts response.read_body
  /api/v1/account/:
    get:
      tags:
        - account
      summary: Get a list of Accounts
      responses:
        '200':
          description: A list of Accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyBankAccount'
              example:
                accounts:
                  - accountId: 6290ccfd42831958a405debc
                    isDefault: true
                    balance:
                      total: 129430
                      blocked: 0
                      available: 129430
                  - accountId: 6286b467a7910113577e00ce
                    isDefault: false
                    balance:
                      total: 130
                      blocked: 100
                      available: 30
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require("https");

            const options = {
              "method": "GET",
              "hostname": "api.woovi.com",
              "port": null,
              "path": "/api/v1/account/",
              "headers": {
                "Authorization": "REPLACE_KEY_VALUE"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request GET \
              --url https://api.woovi.com/api/v1/account/ \
              --header 'Authorization: REPLACE_KEY_VALUE'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.woovi.com/api/v1/account/",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.woovi.com")

            headers = { 'Authorization': "REPLACE_KEY_VALUE" }

            conn.request("GET", "/api/v1/account/", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/account/\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.woovi.com/api/v1/account/")
              .get()
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: |-
            require 'uri'
            require 'net/http'
            require 'openssl'

            url = URI("https://api.woovi.com/api/v1/account/")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["Authorization"] = 'REPLACE_KEY_VALUE'

            response = http.request(request)
            puts response.read_body
  /api/v1/account/{accountId}/withdraw:
    post:
      tags:
        - account
      summary: Withdraw from an Account
      description: >-
        An additional fee may be charged depending on the minimum free
        withdrawal amount. See more about at
        https://developers.openpix.com.br/docs/FAQ/faq-virtual-account/#onde-posso-consultar-as-taxas-da-minha-conta-virtual
      parameters:
        - name: accountId
          in: path
          description: ID of the Account
          required: true
          schema:
            type: string
          example: 6290ccfd42831958a405debc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: number
                  description: Value in cents
            example:
              value: 7000
      responses:
        '200':
          description: Withdraw and Acccount information
          content:
            application/json:
              schema:
                type: object
                properties:
                  withdraw:
                    type: object
                    properties:
                      account:
                        type: object
                        $ref: '#/components/schemas/CompanyBankAccount'
                      transaction:
                        type: object
                        $ref: '#/components/schemas/WithdrawTransaction'
              example:
                withdraw:
                  account:
                    accountId: 6290ccfd42831958a405debc
                    isDefault: true
                    balance:
                      total: 122430
                      blocked: 0
                      available: 122430
                  transaction:
                    endToEndId: E23114447202205191817cx6VMrbwtw6
                    transaction: 7000
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require("https");

            const options = {
              "method": "POST",
              "hostname": "api.woovi.com",
              "port": null,
              "path": "/api/v1/account/6290ccfd42831958a405debc/withdraw",
              "headers": {
                "content-type": "application/json",
                "Authorization": "REPLACE_KEY_VALUE"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({value: 0}));
            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request POST \
              --url https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc/withdraw \
              --header 'Authorization: REPLACE_KEY_VALUE' \
              --header 'content-type: application/json' \
              --data '{"value":0}'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc/withdraw",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"value\":0}",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE",
                "content-type: application/json"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.woovi.com")


            payload = "{\"value\":0}"


            headers = {
                'content-type': "application/json",
                'Authorization': "REPLACE_KEY_VALUE"
                }

            conn.request("POST",
            "/api/v1/account/6290ccfd42831958a405debc/withdraw", payload,
            headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc/withdraw\"\n\n\tpayload := strings.NewReader(\"{\\\"value\\\":0}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\"value\":0}");
            Request request = new Request.Builder()
              .url("https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc/withdraw")
              .post(body)
              .addHeader("content-type", "application/json")
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: >-
            require 'uri'

            require 'net/http'

            require 'openssl'


            url =
            URI("https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc/withdraw")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Post.new(url)

            request["content-type"] = 'application/json'

            request["Authorization"] = 'REPLACE_KEY_VALUE'

            request.body = "{\"value\":0}"


            response = http.request(request)

            puts response.read_body
  /api/v1/cashback-fidelity/balance/{taxID}:
    get:
      tags:
        - cashback-fidelity
      summary: Get the exclusive cashback amount an user still has to receive by taxID.
      parameters:
        - name: taxID
          in: path
          description: The raw tax ID from the customer you want to get the balance.
          required: true
          schema:
            type: string
          examples:
            taxID:
              value: '60151449000182'
      responses:
        '200':
          description: Amount the user still has to receive.
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: number
                  status:
                    type: string
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require("https");

            const options = {
              "method": "GET",
              "hostname": "api.woovi.com",
              "port": null,
              "path": "/api/v1/cashback-fidelity/balance/%7BtaxID%7D",
              "headers": {
                "Authorization": "REPLACE_KEY_VALUE"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request GET \
              --url https://api.woovi.com/api/v1/cashback-fidelity/balance/%7BtaxID%7D \
              --header 'Authorization: REPLACE_KEY_VALUE'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.woovi.com/api/v1/cashback-fidelity/balance/%7BtaxID%7D",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.woovi.com")


            headers = { 'Authorization': "REPLACE_KEY_VALUE" }


            conn.request("GET", "/api/v1/cashback-fidelity/balance/%7BtaxID%7D",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/cashback-fidelity/balance/%7BtaxID%7D\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.woovi.com/api/v1/cashback-fidelity/balance/%7BtaxID%7D")
              .get()
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: >-
            require 'uri'

            require 'net/http'

            require 'openssl'


            url =
            URI("https://api.woovi.com/api/v1/cashback-fidelity/balance/%7BtaxID%7D")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Get.new(url)

            request["Authorization"] = 'REPLACE_KEY_VALUE'


            response = http.request(request)

            puts response.read_body
  /api/v1/cashback-fidelity:
    post:
      tags:
        - cashback-fidelity
      summary: Get or create cashback for a customer.
      description: >-
        Create a new cashback exclusive for the customer with a given taxID. If
        the customer already has a pending excluisve cashback, this endpoint
        will return it instead.
      requestBody:
        description: Customer's taxID and the cash
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                taxID:
                  type: string
                  description: Customer taxID (CPF or CNPJ)
                value:
                  type: number
                  description: Cashback value in centavos
            example:
              value: 100
              taxID: 11111111111
      responses:
        '200':
          description: >-
            Didn't create a new cashback, returning previously existing cashback
            information instead.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cashback:
                    description: Object representing the existing cashback
                    type: object
                    properties:
                      value:
                        type: number
                        description: Cashback value in centavos
                  message:
                    type: string
                    description: String explaining what happened
        '201':
          description: New cashback created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  cashback:
                    description: Object representing the new cashback
                    type: object
                    properties:
                      value:
                        type: number
                        description: Cashback value in centavos
                  message:
                    type: string
                    description: String explaining what happened
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require("https");

            const options = {
              "method": "POST",
              "hostname": "api.woovi.com",
              "port": null,
              "path": "/api/v1/cashback-fidelity",
              "headers": {
                "content-type": "application/json",
                "Authorization": "REPLACE_KEY_VALUE"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({taxID: 'string', value: 0}));
            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request POST \
              --url https://api.woovi.com/api/v1/cashback-fidelity \
              --header 'Authorization: REPLACE_KEY_VALUE' \
              --header 'content-type: application/json' \
              --data '{"taxID":"string","value":0}'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.woovi.com/api/v1/cashback-fidelity",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"taxID\":\"string\",\"value\":0}",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE",
                "content-type: application/json"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.woovi.com")

            payload = "{\"taxID\":\"string\",\"value\":0}"

            headers = {
                'content-type': "application/json",
                'Authorization': "REPLACE_KEY_VALUE"
                }

            conn.request("POST", "/api/v1/cashback-fidelity", payload, headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/cashback-fidelity\"\n\n\tpayload := strings.NewReader(\"{\\\"taxID\\\":\\\"string\\\",\\\"value\\\":0}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"taxID\":\"string\",\"value\":0}");

            Request request = new Request.Builder()
              .url("https://api.woovi.com/api/v1/cashback-fidelity")
              .post(body)
              .addHeader("content-type", "application/json")
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: |-
            require 'uri'
            require 'net/http'
            require 'openssl'

            url = URI("https://api.woovi.com/api/v1/cashback-fidelity")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Post.new(url)
            request["content-type"] = 'application/json'
            request["Authorization"] = 'REPLACE_KEY_VALUE'
            request.body = "{\"taxID\":\"string\",\"value\":0}"

            response = http.request(request)
            puts response.read_body
  /api/v1/charge/{id}:
    delete:
      tags:
        - charge
      summary: Delete a charge
      parameters:
        - name: id
          in: path
          description: >-
            charge ID or correlation ID. You will need URI encoding if your
            correlation ID has characters outside the ASCII set or reserved
            characters (%, \#, /).
          required: true
          schema:
            type: string
          examples:
            chargeId:
              value: Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA==
            correlationID:
              value: fe7834b4060c488a9b0f89811be5f5cf
      responses:
        '200':
          description: The charge deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  id:
                    type: string
                    description: the id previously informed to be found and deleted
                example:
                  status: OK
                  id: fe7834b4060c488a9b0f89811be5f5cf
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require("https");

            const options = {
              "method": "DELETE",
              "hostname": "api.woovi.com",
              "port": null,
              "path": "/api/v1/charge/%7Bid%7D",
              "headers": {
                "Authorization": "REPLACE_KEY_VALUE"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request DELETE \
              --url https://api.woovi.com/api/v1/charge/%7Bid%7D \
              --header 'Authorization: REPLACE_KEY_VALUE'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.woovi.com/api/v1/charge/%7Bid%7D",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "DELETE",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.woovi.com")

            headers = { 'Authorization': "REPLACE_KEY_VALUE" }

            conn.request("DELETE", "/api/v1/charge/%7Bid%7D", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/charge/%7Bid%7D\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.woovi.com/api/v1/charge/%7Bid%7D")
              .delete(null)
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: |-
            require 'uri'
            require 'net/http'
            require 'openssl'

            url = URI("https://api.woovi.com/api/v1/charge/%7Bid%7D")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Delete.new(url)
            request["Authorization"] = 'REPLACE_KEY_VALUE'

            response = http.request(request)
            puts response.read_body
    get:
      tags:
        - charge
      summary: Get one charge
      parameters:
        - name: id
          in: path
          description: >-
            charge ID or correlation ID. You will need URI encoding if your
            correlation ID has characters outside the ASCII set or reserved
            characters (%, \#, /).
          required: true
          schema:
            type: string
          examples:
            chargeId:
              value: Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA==
            correlationID:
              value: fe7834b4060c488a9b0f89811be5f5cf
      responses:
        '200':
          description: The charge retrieve using the given ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  charge:
                    type: object
                    $ref: '#/components/schemas/Charge'
                example:
                  charge:
                    status: ACTIVE
                    customer:
                      name: Dan
                      email: email0@example.com
                      phone: '5511999999999'
                      taxID:
                        taxID: '31324227036'
                        type: BR:CPF
                    value: 100
                    comment: good
                    correlationID: 9134e286-6f71-427a-bf00-241681624586
                    paymentLinkID: 7777-6f71-427a-bf00-241681624586
                    paymentLinkUrl: >-
                      https://openpix.com.br/pay/9134e286-6f71-427a-bf00-241681624586
                    globalID: Q2hhcmdlOjcxOTFmMWIwMjA0NmJmNWY1M2RjZmEwYg==
                    qrCodeImage: >-
                      https://api.openpix.com.br/openpix/charge/brcode/image/9134e286-6f71-427a-bf00-241681624586.png
                    brCode: >-
                      000201010212261060014br.gov.bcb.pix2584https://api.openpix.com.br/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao
                      Paulo62360532867ba5173c734202ac659721306b38c963044BCA
                    additionalInfo:
                      - key: Product
                        value: Pencil
                      - key: Invoice
                        value: '18476'
                      - key: Order
                        value: '302'
                    expiresIn: 2592000
                    expiresDate: '2021-04-01T17:28:51.882Z'
                    createdAt: '2021-03-02T17:28:51.882Z'
                    updatedAt: '2021-03-02T17:28:51.882Z'
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require("https");

            const options = {
              "method": "GET",
              "hostname": "api.woovi.com",
              "port": null,
              "path": "/api/v1/charge/%7Bid%7D",
              "headers": {
                "Authorization": "REPLACE_KEY_VALUE"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request GET \
              --url https://api.woovi.com/api/v1/charge/%7Bid%7D \
              --header 'Authorization: REPLACE_KEY_VALUE'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.woovi.com/api/v1/charge/%7Bid%7D",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.woovi.com")

            headers = { 'Authorization': "REPLACE_KEY_VALUE" }

            conn.request("GET", "/api/v1/charge/%7Bid%7D", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/charge/%7Bid%7D\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.woovi.com/api/v1/charge/%7Bid%7D")
              .get()
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: |-
            require 'uri'
            require 'net/http'
            require 'openssl'

            url = URI("https://api.woovi.com/api/v1/charge/%7Bid%7D")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["Authorization"] = 'REPLACE_KEY_VALUE'

            response = http.request(request)
            puts response.read_body
  /api/v1/charge:
    get:
      tags:
        - charge
      summary: Get a list of charges
      parameters:
        - in: query
          name: start
          schema:
            type: string
            format: date-time
            title: Start Date
            description: Start date used in the query. Complies with RFC 3339.
            example: '2020-01-01T00:00:00Z'
        - in: query
          name: end
          schema:
            type: string
            format: date-time
            title: End Date
            description: End date used in the query. Complies with RFC 3339.
            example: '2020-12-01T17:00:00Z'
        - name: status
          in: query
          schema:
            type: string
            enum:
              - ACTIVE
              - COMPLETED
              - EXPIRED
      responses:
        '200':
          description: A list of charges
          content:
            application/json:
              schema:
                type: object
                properties:
                  charges:
                    type: array
                    items:
                      $ref: '#/components/schemas/Charge'
                  pageInfo:
                    type: object
                    properties:
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            message:
                              type: string
                            data:
                              type: object
                              properties:
                                skip:
                                  type: number
                                limit:
                                  type: number
                      skip:
                        type: number
                      limit:
                        type: number
                      totalCount:
                        type: number
                      hasPreviousPage:
                        type: boolean
                      hasNextPage:
                        type: boolean
                example:
                  pageInfo:
                    skip: 0
                    limit: 10
                    totalCount: 20
                    hasPreviousPage: false
                    hasNextPage: true
                  charges:
                    status: ACTIVE
                    customer:
                      name: Dan
                      email: email0@example.com
                      phone: '5511999999999'
                      taxID:
                        taxID: '31324227036'
                        type: BR:CPF
                    value: 100
                    comment: good
                    correlationID: 9134e286-6f71-427a-bf00-241681624586
                    paymentLinkID: 7777a23s-6f71-427a-bf00-241681624586
                    paymentLinkUrl: >-
                      https://openpix.com.br/pay/9134e286-6f71-427a-bf00-241681624586
                    qrCodeImage: >-
                      https://api.openpix.com.br/openpix/charge/brcode/image/9134e286-6f71-427a-bf00-241681624586.png
                    brCode: >-
                      000201010212261060014br.gov.bcb.pix2584https://api.openpix.com.br/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao
                      Paulo62360532867ba5173c734202ac659721306b38c963044BCA
                    additionalInfo:
                      - key: Product
                        value: Pencil
                      - key: Invoice
                        value: '18476'
                      - key: Order
                        value: '302'
                    expiresIn: 2592000
                    expiresDate: '2021-04-01T17:28:51.882Z'
                    createdAt: '2021-03-02T17:28:51.882Z'
                    updatedAt: '2021-03-02T17:28:51.882Z'
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require("https");

            const options = {
              "method": "GET",
              "hostname": "api.woovi.com",
              "port": null,
              "path": "/api/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE",
              "headers": {
                "Authorization": "REPLACE_KEY_VALUE"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request GET \
              --url 'https://api.woovi.com/api/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE' \
              --header 'Authorization: REPLACE_KEY_VALUE'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.woovi.com/api/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.woovi.com")


            headers = { 'Authorization': "REPLACE_KEY_VALUE" }


            conn.request("GET",
            "/api/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.woovi.com/api/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE")
              .get()
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: >-
            require 'uri'

            require 'net/http'

            require 'openssl'


            url =
            URI("https://api.woovi.com/api/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Get.new(url)

            request["Authorization"] = 'REPLACE_KEY_VALUE'


            response = http.request(request)

            puts response.read_body
    post:
      tags:
        - charge
      summary: Create a new Charge
      parameters:
        - in: query
          name: return_existing
          description: >-
            Make the endpoint idempotent, will return an existent charge if
            already has a one with the correlationID
          required: false
          schema:
            type: boolean
          examples:
            return_existing:
              value: true
      description: Endpoint to create a new Charge for a customer
      requestBody:
        description: Data to create a new charge
        required: true
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/ChargePayload'
            examples:
              Charge:
                value:
                  correlationID: 9134e286-6f71-427a-bf00-241681624587
                  value: 100
                  comment: good
                  customer:
                    name: Dan
                    taxID: '31324227036'
                    email: email0@example.com
                    phone: '5511999999999'
                  additionalInfo:
                    - key: Product
                      value: Pencil
                    - key: Invoice
                      value: '18476'
                    - key: Order
                      value: '302'
              Charge with Interests and Fines:
                value:
                  type: OVERDUE
                  correlationID: 9134e286-6f71-427a-bf00-241681624587
                  value: 100
                  comment: good
                  daysForDueDate: 5
                  daysAfterDueDate: 5
                  interests:
                    value: 10
                  fines:
                    value: 20
                  customer:
                    name: Dan
                    taxID: '31324227036'
                    email: email0@example.com
                    phone: '5511999999999'
                    address:
                      zipcode: '30421322'
                      street: Street
                      number: '100'
                      neighborhood: Neighborhood
                      city: Belo Horizonte
                      state: MG
                      complement: APTO
                      country: BR
                  additionalInfo:
                    - key: Product
                      value: Pencil
                    - key: Invoice
                      value: '18476'
                    - key: Order
                      value: '302'
      responses:
        '200':
          description: >-
            Charge ID and also the generated Dynamic BR Code to be rendered as a
            QRCode
          content:
            application/json:
              schema:
                type: object
                properties:
                  charge:
                    $ref: '#/components/schemas/Charge'
                  correlationID:
                    type: string
                  brCode:
                    type: string
                example:
                  charge:
                    status: ACTIVE
                    customer:
                      name: Dan
                      email: email0@example.com
                      phone: '5511999999999'
                      taxID:
                        taxID: '31324227036'
                        type: BR:CPF
                    value: 100
                    comment: good
                    correlationID: 9134e286-6f71-427a-bf00-241681624586
                    paymentLinkID: 7777a23s-6f71-427a-bf00-241681624586
                    paymentLinkUrl: >-
                      https://openpix.com.br/pay/9134e286-6f71-427a-bf00-241681624586
                    qrCodeImage: >-
                      https://api.openpix.com.br/openpix/charge/brcode/image/9134e286-6f71-427a-bf00-241681624586.png
                    expiresIn: 2592000
                    expiresDate: '2021-04-01T17:28:51.882Z'
                    createdAt: '2021-03-02T17:28:51.882Z'
                    updatedAt: '2021-03-02T17:28:51.882Z'
                    brCode: >-
                      000201010212261060014br.gov.bcb.pix2584https://api.openpix.com.br/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao
                      Paulo62360532867ba5173c734202ac659721306b38c963044BCA
                    additionalInfo:
                      - key: Product
                        value: Pencil
                      - key: Invoice
                        value: '18476'
                      - key: Order
                        value: '302'
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require("https");

            const options = {
              "method": "POST",
              "hostname": "api.woovi.com",
              "port": null,
              "path": "/api/v1/charge?return_existing=SOME_BOOLEAN_VALUE",
              "headers": {
                "content-type": "application/json",
                "Authorization": "REPLACE_KEY_VALUE"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({
              correlationID: 'string',
              value: 0,
              type: 'DYNAMIC',
              comment: 'string',
              identifier: 'string',
              expiresIn: 0,
              customer: {
                name: 'string',
                email: 'string',
                phone: 'string',
                taxID: 'string',
                correlationID: 'string',
                address: {
                  zipcode: 'string',
                  street: 'string',
                  number: 'string',
                  neighborhood: 'string',
                  city: 'string',
                  state: 'string',
                  complement: 'string',
                  country: 'string'
                }
              },
              daysForDueDate: 0,
              daysAfterDueDate: 0,
              interests: {value: 0},
              fines: {value: 0},
              additionalInfo: [{key: 'string', value: 'string'}]
            }));
            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request POST \
              --url 'https://api.woovi.com/api/v1/charge?return_existing=SOME_BOOLEAN_VALUE' \
              --header 'Authorization: REPLACE_KEY_VALUE' \
              --header 'content-type: application/json' \
              --data '{"correlationID":"string","value":0,"type":"DYNAMIC","comment":"string","identifier":"string","expiresIn":0,"customer":{"name":"string","email":"string","phone":"string","taxID":"string","correlationID":"string","address":{"zipcode":"string","street":"string","number":"string","neighborhood":"string","city":"string","state":"string","complement":"string","country":"string"}},"daysForDueDate":0,"daysAfterDueDate":0,"interests":{"value":0},"fines":{"value":0},"additionalInfo":[{"key":"string","value":"string"}]}'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.woovi.com/api/v1/charge?return_existing=SOME_BOOLEAN_VALUE",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"correlationID\":\"string\",\"value\":0,\"type\":\"DYNAMIC\",\"comment\":\"string\",\"identifier\":\"string\",\"expiresIn\":0,\"customer\":{\"name\":\"string\",\"email\":\"string\",\"phone\":\"string\",\"taxID\":\"string\",\"correlationID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"country\":\"string\"}},\"daysForDueDate\":0,\"daysAfterDueDate\":0,\"interests\":{\"value\":0},\"fines\":{\"value\":0},\"additionalInfo\":[{\"key\":\"string\",\"value\":\"string\"}]}",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE",
                "content-type: application/json"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.woovi.com")


            payload =
            "{\"correlationID\":\"string\",\"value\":0,\"type\":\"DYNAMIC\",\"comment\":\"string\",\"identifier\":\"string\",\"expiresIn\":0,\"customer\":{\"name\":\"string\",\"email\":\"string\",\"phone\":\"string\",\"taxID\":\"string\",\"correlationID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"country\":\"string\"}},\"daysForDueDate\":0,\"daysAfterDueDate\":0,\"interests\":{\"value\":0},\"fines\":{\"value\":0},\"additionalInfo\":[{\"key\":\"string\",\"value\":\"string\"}]}"


            headers = {
                'content-type': "application/json",
                'Authorization': "REPLACE_KEY_VALUE"
                }

            conn.request("POST",
            "/api/v1/charge?return_existing=SOME_BOOLEAN_VALUE", payload,
            headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/charge?return_existing=SOME_BOOLEAN_VALUE\"\n\n\tpayload := strings.NewReader(\"{\\\"correlationID\\\":\\\"string\\\",\\\"value\\\":0,\\\"type\\\":\\\"DYNAMIC\\\",\\\"comment\\\":\\\"string\\\",\\\"identifier\\\":\\\"string\\\",\\\"expiresIn\\\":0,\\\"customer\\\":{\\\"name\\\":\\\"string\\\",\\\"email\\\":\\\"string\\\",\\\"phone\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\",\\\"correlationID\\\":\\\"string\\\",\\\"address\\\":{\\\"zipcode\\\":\\\"string\\\",\\\"street\\\":\\\"string\\\",\\\"number\\\":\\\"string\\\",\\\"neighborhood\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\",\\\"state\\\":\\\"string\\\",\\\"complement\\\":\\\"string\\\",\\\"country\\\":\\\"string\\\"}},\\\"daysForDueDate\\\":0,\\\"daysAfterDueDate\\\":0,\\\"interests\\\":{\\\"value\\\":0},\\\"fines\\\":{\\\"value\\\":0},\\\"additionalInfo\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\"}]}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"correlationID\":\"string\",\"value\":0,\"type\":\"DYNAMIC\",\"comment\":\"string\",\"identifier\":\"string\",\"expiresIn\":0,\"customer\":{\"name\":\"string\",\"email\":\"string\",\"phone\":\"string\",\"taxID\":\"string\",\"correlationID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"country\":\"string\"}},\"daysForDueDate\":0,\"daysAfterDueDate\":0,\"interests\":{\"value\":0},\"fines\":{\"value\":0},\"additionalInfo\":[{\"key\":\"string\",\"value\":\"string\"}]}");

            Request request = new Request.Builder()
              .url("https://api.woovi.com/api/v1/charge?return_existing=SOME_BOOLEAN_VALUE")
              .post(body)
              .addHeader("content-type", "application/json")
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: >-
            require 'uri'

            require 'net/http'

            require 'openssl'


            url =
            URI("https://api.woovi.com/api/v1/charge?return_existing=SOME_BOOLEAN_VALUE")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Post.new(url)

            request["content-type"] = 'application/json'

            request["Authorization"] = 'REPLACE_KEY_VALUE'

            request.body =
            "{\"correlationID\":\"string\",\"value\":0,\"type\":\"DYNAMIC\",\"comment\":\"string\",\"identifier\":\"string\",\"expiresIn\":0,\"customer\":{\"name\":\"string\",\"email\":\"string\",\"phone\":\"string\",\"taxID\":\"string\",\"correlationID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"country\":\"string\"}},\"daysForDueDate\":0,\"daysAfterDueDate\":0,\"interests\":{\"value\":0},\"fines\":{\"value\":0},\"additionalInfo\":[{\"key\":\"string\",\"value\":\"string\"}]}"


            response = http.request(request)

            puts response.read_body
  /api/v1/charge/{id}/refund:
    get:
      tags:
        - charge refund
      summary: Get all refunds of a charge
      description: Endpoint to get all refunds of a charge
      parameters:
        - name: id
          in: path
          description: >-
            The correlation ID of the charge. You will need URI encoding if your
            correlation ID has characters outside the ASCII set or reserved
            characters (%, \#, /).
          required: true
          schema:
            type: string
          examples:
            uuid:
              value: cf4012c9-b2ac-484d-8121-deedd1c6d8af
            random-string:
              value: fe7834b4060c488a9b0f89811be5f5cf
      responses:
        '200':
          description: A list of refunds
          content:
            application/json:
              schema:
                type: object
                properties:
                  refunds:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChargeRefund'
                example:
                  refunds:
                    - status: IN_PROCESSING
                      value: 10
                      correlationID: 9134e286-6f71-427a-bf00-241681624586
                      endToEndId: E23114447202304181826HJNwY577YDX
                      time: '2021-03-02T17:28:51.882Z'
                    - status: CONFIRMED
                      value: 40
                      correlationID: 589a378e-ab45-4f30-bd4d-4496c60f88cf
                      endToEndId: E23114447202304181057pOhPMsp2pJZ
                      time: '2021-03-05T14:49:02.922Z'
                      comment: Comentário do reembolso
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require("https");

            const options = {
              "method": "GET",
              "hostname": "api.woovi.com",
              "port": null,
              "path": "/api/v1/charge/%7Bid%7D/refund",
              "headers": {
                "Authorization": "REPLACE_KEY_VALUE"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request GET \
              --url https://api.woovi.com/api/v1/charge/%7Bid%7D/refund \
              --header 'Authorization: REPLACE_KEY_VALUE'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.woovi.com/api/v1/charge/%7Bid%7D/refund",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.woovi.com")


            headers = { 'Authorization': "REPLACE_KEY_VALUE" }


            conn.request("GET", "/api/v1/charge/%7Bid%7D/refund",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/charge/%7Bid%7D/refund\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.woovi.com/api/v1/charge/%7Bid%7D/refund")
              .get()
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: |-
            require 'uri'
            require 'net/http'
            require 'openssl'

            url = URI("https://api.woovi.com/api/v1/charge/%7Bid%7D/refund")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["Authorization"] = 'REPLACE_KEY_VALUE'

            response = http.request(request)
            puts response.read_body
    post:
      tags:
        - charge refund
      summary: Create a new refund for a charge
      description: Endpoint to create a new refund for a charge
      parameters:
        - name: id
          in: path
          description: >-
            The correlation ID of the charge. You will need URI encoding if your
            correlation ID has characters outside the ASCII set or reserved
            characters (%, \#, /).
          required: true
          schema:
            type: string
          examples:
            uuid:
              value: cf4012c9-b2ac-484d-8121-deedd1c6d8af
            random-string:
              value: fe7834b4060c488a9b0f89811be5f5cf
      requestBody:
        description: Data to create a new refund for a charge
        required: true
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/ChargeRefundPayload'
            example:
              correlationID: a273e72c-9547-4c75-a213-3b0a2735b8d5
              value: 100
              comment: Comentário do reembolso
      responses:
        '200':
          description: The created Refund
          content:
            application/json:
              schema:
                type: object
                properties:
                  refund:
                    $ref: '#/components/schemas/ChargeRefund'
                example:
                  refund:
                    status: IN_PROCESSING
                    value: 100
                    correlationID: a273e72c-9547-4c75-a213-3b0a2735b8d5
                    endToEndId: E23114447202304181826HJNwY577YDX
                    time: '2023-03-02T17:28:51.882Z'
                    comment: Comentário do reembolso
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: >-
            const http = require("https");


            const options = {
              "method": "POST",
              "hostname": "api.woovi.com",
              "port": null,
              "path": "/api/v1/charge/%7Bid%7D/refund",
              "headers": {
                "content-type": "application/json",
                "Authorization": "REPLACE_KEY_VALUE"
              }
            };


            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });


            req.write(JSON.stringify({correlationID: 'string', value: 0,
            comment: 'string'}));

            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request POST \
              --url https://api.woovi.com/api/v1/charge/%7Bid%7D/refund \
              --header 'Authorization: REPLACE_KEY_VALUE' \
              --header 'content-type: application/json' \
              --data '{"correlationID":"string","value":0,"comment":"string"}'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.woovi.com/api/v1/charge/%7Bid%7D/refund",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"correlationID\":\"string\",\"value\":0,\"comment\":\"string\"}",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE",
                "content-type: application/json"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.woovi.com")


            payload =
            "{\"correlationID\":\"string\",\"value\":0,\"comment\":\"string\"}"


            headers = {
                'content-type': "application/json",
                'Authorization': "REPLACE_KEY_VALUE"
                }

            conn.request("POST", "/api/v1/charge/%7Bid%7D/refund", payload,
            headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/charge/%7Bid%7D/refund\"\n\n\tpayload := strings.NewReader(\"{\\\"correlationID\\\":\\\"string\\\",\\\"value\\\":0,\\\"comment\\\":\\\"string\\\"}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"correlationID\":\"string\",\"value\":0,\"comment\":\"string\"}");

            Request request = new Request.Builder()
              .url("https://api.woovi.com/api/v1/charge/%7Bid%7D/refund")
              .post(body)
              .addHeader("content-type", "application/json")
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: >-
            require 'uri'

            require 'net/http'

            require 'openssl'


            url = URI("https://api.woovi.com/api/v1/charge/%7Bid%7D/refund")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Post.new(url)

            request["content-type"] = 'application/json'

            request["Authorization"] = 'REPLACE_KEY_VALUE'

            request.body =
            "{\"correlationID\":\"string\",\"value\":0,\"comment\":\"string\"}"


            response = http.request(request)

            puts response.read_body
  /api/v1/customer/{id}:
    get:
      tags:
        - customer
      summary: Get one customer
      parameters:
        - name: id
          in: path
          description: correlation ID
          required: true
          schema:
            type: string
          examples:
            correlationID:
              value: fe7834b4060c488a9b0f89811be5f5cf
      responses:
        '200':
          description: The customer retrieve using the given ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  customer:
                    type: object
                    $ref: '#/components/schemas/Customer'
                example:
                  customer:
                    name: Dan
                    email: email0@example.com
                    phone: '5511999999999'
                    taxID:
                      taxID: '31324227036'
                      type: BR:CPF
                    correlationID: fe7834b4060c488a9b0f89811be5f5cf
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require("https");

            const options = {
              "method": "GET",
              "hostname": "api.woovi.com",
              "port": null,
              "path": "/api/v1/customer/%7Bid%7D",
              "headers": {
                "Authorization": "REPLACE_KEY_VALUE"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request GET \
              --url https://api.woovi.com/api/v1/customer/%7Bid%7D \
              --header 'Authorization: REPLACE_KEY_VALUE'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.woovi.com/api/v1/customer/%7Bid%7D",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.woovi.com")

            headers = { 'Authorization': "REPLACE_KEY_VALUE" }

            conn.request("GET", "/api/v1/customer/%7Bid%7D", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/customer/%7Bid%7D\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.woovi.com/api/v1/customer/%7Bid%7D")
              .get()
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: |-
            require 'uri'
            require 'net/http'
            require 'openssl'

            url = URI("https://api.woovi.com/api/v1/customer/%7Bid%7D")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["Authorization"] = 'REPLACE_KEY_VALUE'

            response = http.request(request)
            puts response.read_body
  /api/v1/customer:
    get:
      tags:
        - customer
      summary: Get a list of customers
      responses:
        '200':
          description: A list of customers
          content:
            application/json:
              schema:
                type: object
                properties:
                  customers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  pageInfo:
                    type: object
                    properties:
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            message:
                              type: string
                            data:
                              type: object
                              properties:
                                skip:
                                  type: number
                                limit:
                                  type: number
                      skip:
                        type: number
                      limit:
                        type: number
                      totalCount:
                        type: number
                      hasPreviousPage:
                        type: boolean
                      hasNextPage:
                        type: boolean
                example:
                  pageInfo:
                    skip: 0
                    limit: 10
                    totalCount: 20
                    hasPreviousPage: false
                    hasNextPage: true
                  customers:
                    customer:
                      name: Dan
                      email: email0@example.com
                      phone: '5511999999999'
                      taxID:
                        taxID: '31324227036'
                        type: BR:CPF
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require("https");

            const options = {
              "method": "GET",
              "hostname": "api.woovi.com",
              "port": null,
              "path": "/api/v1/customer",
              "headers": {
                "Authorization": "REPLACE_KEY_VALUE"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request GET \
              --url https://api.woovi.com/api/v1/customer \
              --header 'Authorization: REPLACE_KEY_VALUE'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.woovi.com/api/v1/customer",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.woovi.com")

            headers = { 'Authorization': "REPLACE_KEY_VALUE" }

            conn.request("GET", "/api/v1/customer", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/customer\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.woovi.com/api/v1/customer")
              .get()
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: |-
            require 'uri'
            require 'net/http'
            require 'openssl'

            url = URI("https://api.woovi.com/api/v1/customer")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["Authorization"] = 'REPLACE_KEY_VALUE'

            response = http.request(request)
            puts response.read_body
    post:
      tags:
        - customer
      summary: Create a new Customer
      description: Endpoint to create a new Customer
      requestBody:
        description: Data to create a new customer
        required: true
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/CustomerPayload'
            example:
              name: Dan
              taxID: '31324227036'
              email: email0@example.com
              phone: '5511999999999'
              correlationID: 9134e286-6f71-427a-bf00-241681624586
      responses:
        '200':
          description: Customer ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  customer:
                    $ref: '#/components/schemas/Customer'
                example:
                  customer:
                    name: Dan
                    email: email0@example.com
                    phone: '5511999999999'
                    taxID:
                      taxID: '31324227036'
                      type: BR:CPF
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require("https");

            const options = {
              "method": "POST",
              "hostname": "api.woovi.com",
              "port": null,
              "path": "/api/v1/customer",
              "headers": {
                "content-type": "application/json",
                "Authorization": "REPLACE_KEY_VALUE"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({
              name: 'string',
              email: 'string',
              phone: 'string',
              taxID: 'string',
              correlationID: 'string',
              address: {
                zipcode: 'string',
                street: 'string',
                number: 'string',
                neighborhood: 'string',
                city: 'string',
                state: 'string',
                complement: 'string',
                country: 'string'
              }
            }));
            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request POST \
              --url https://api.woovi.com/api/v1/customer \
              --header 'Authorization: REPLACE_KEY_VALUE' \
              --header 'content-type: application/json' \
              --data '{"name":"string","email":"string","phone":"string","taxID":"string","correlationID":"string","address":{"zipcode":"string","street":"string","number":"string","neighborhood":"string","city":"string","state":"string","complement":"string","country":"string"}}'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.woovi.com/api/v1/customer",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"name\":\"string\",\"email\":\"string\",\"phone\":\"string\",\"taxID\":\"string\",\"correlationID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"country\":\"string\"}}",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE",
                "content-type: application/json"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.woovi.com")


            payload =
            "{\"name\":\"string\",\"email\":\"string\",\"phone\":\"string\",\"taxID\":\"string\",\"correlationID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"country\":\"string\"}}"


            headers = {
                'content-type': "application/json",
                'Authorization': "REPLACE_KEY_VALUE"
                }

            conn.request("POST", "/api/v1/customer", payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/customer\"\n\n\tpayload := strings.NewReader(\"{\\\"name\\\":\\\"string\\\",\\\"email\\\":\\\"string\\\",\\\"phone\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\",\\\"correlationID\\\":\\\"string\\\",\\\"address\\\":{\\\"zipcode\\\":\\\"string\\\",\\\"street\\\":\\\"string\\\",\\\"number\\\":\\\"string\\\",\\\"neighborhood\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\",\\\"state\\\":\\\"string\\\",\\\"complement\\\":\\\"string\\\",\\\"country\\\":\\\"string\\\"}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"name\":\"string\",\"email\":\"string\",\"phone\":\"string\",\"taxID\":\"string\",\"correlationID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"country\":\"string\"}}");

            Request request = new Request.Builder()
              .url("https://api.woovi.com/api/v1/customer")
              .post(body)
              .addHeader("content-type", "application/json")
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: >-
            require 'uri'

            require 'net/http'

            require 'openssl'


            url = URI("https://api.woovi.com/api/v1/customer")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Post.new(url)

            request["content-type"] = 'application/json'

            request["Authorization"] = 'REPLACE_KEY_VALUE'

            request.body =
            "{\"name\":\"string\",\"email\":\"string\",\"phone\":\"string\",\"taxID\":\"string\",\"correlationID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"country\":\"string\"}}"


            response = http.request(request)

            puts response.read_body
  /api/v1/partner/application:
    post:
      tags:
        - partner (request access)
      summary: Create a new application to some of your preregistration's company.
      description: >
        As a partner company, you can create a new application to some of your
        companies.

        The application should give access to our API to this companies, so they
        can use

        it too.
      requestBody:
        description: The request body to create a pre registration.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                application:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name you want to give your application
                    type:
                      $ref: '#/components/schemas/ApplicationEnumTypePayload'
                  required:
                    - name
                    - type
                taxID:
                  $ref: '#/components/schemas/TaxIDObjectPayload'
                  required:
                    - taxID
                    - type
            example:
              application:
                name: MyAPIAccess
                type: API
              taxID:
                taxID: '65914571000187'
                type: BR:CNPJ
      responses:
        '200':
          description: >
            Our "idempotence output", if you get this HTTP code, it's an
            application

            that already has been registered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  application:
                    $ref: '#/components/schemas/PartnerApplicationPayload'
        '201':
          description: >
            A new application has been registered. It'll be identified by the
            name that you give to it

            and by the company that has been referenced.
          content:
            application/json:
              schema:
                type: object
                properties:
                  application:
                    $ref: '#/components/schemas/PartnerApplicationPayload'
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: You are unauthorized to use this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require("https");

            const options = {
              "method": "POST",
              "hostname": "api.woovi.com",
              "port": null,
              "path": "/api/v1/partner/application",
              "headers": {
                "content-type": "application/json",
                "Authorization": "REPLACE_KEY_VALUE"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({
              application: {name: 'string', type: 'API'},
              taxID: {taxID: 'string', type: 'BR:CNPJ'}
            }));
            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request POST \
              --url https://api.woovi.com/api/v1/partner/application \
              --header 'Authorization: REPLACE_KEY_VALUE' \
              --header 'content-type: application/json' \
[...]
