openapi: 3.0.3
info:
  description: |-
    A Woovi é uma Plataforma de Gestão de Pagamentos. Para utilizar nossa API você deve acessar  __[https://api.woovi.com/](https://api.woovi.com/)__ e somente o mesmo. A Woovi não aceita subdominios para a API.

    Veja como configurar seu acesso a nossa API [aqui](https://developers.woovi.com/docs/apis/api-getting-started).
  title: Woovi
  version: 1.0.0
servers:
- description: Production server
  url: https://api.woovi.com
security:
- AppID: []
tags:
- description: |
    Endpoint to manage Accounts
  name: account
- description: |
    Endpoint to manage exclusive cashbacks
  name: cashback-fidelity
- description: |
    Endpoint to manage Charges
  name: charge
- description: |
    Endpoint to manage charge refunds
  name: charge refund
- description: |
    Endpoint to manage Customer
  name: customer
- description: |
    Partners integrate affiliated companies.<br/>
    They can register new companies, manage them, and earn money from them.
  name: partner (request access)
- description: |
    Endpoint to init a payment using a Pix Key.
  name: payment (request access)
- description: |
    Endpoint to manage static QRCodes
  name: pixQrCode
- description: |
    Endpoint to manage Refunds
  name: refund
- description: |
    Endpoint to manage Subscriptions
  name: subscription
- description: |
    Endpoint to manage Transactions
  name: transactions
- description: |
    Endpoint to manage Webhooks
  name: webhook
paths:
  /api/v1/account/{accountId}:
    get:
      parameters:
      - description: ID of the Account
        example: 6290ccfd42831958a405debc
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                account:
                  accountId: 6290ccfd42831958a405debc
                  isDefault: true
                  balance:
                    total: 129430
                    blocked: 0
                    available: 129430
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_200_response'
          description: The Account retrieve using the given Account ID
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_400_response'
          description: An error message
      summary: Get an Account
      tags:
      - account
      x-codeSamples:
      - lang: Node + Native
        source: |-
          const http = require("https");

          const options = {
            "method": "GET",
            "hostname": "api.woovi.com",
            "port": null,
            "path": "/api/v1/account/6290ccfd42831958a405debc",
            "headers": {
              "Authorization": "REPLACE_KEY_VALUE"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.end();
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc \
            --header 'Authorization: REPLACE_KEY_VALUE'
      - lang: Php + Curl
        source: |-
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, [
            CURLOPT_URL => "https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "GET",
            CURLOPT_HTTPHEADER => [
              "Authorization: REPLACE_KEY_VALUE"
            ],
          ]);

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("api.woovi.com")

          headers = { 'Authorization': "REPLACE_KEY_VALUE" }

          conn.request("GET", "/api/v1/account/6290ccfd42831958a405debc", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Java + Okhttp
        source: |-
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc")
            .get()
            .addHeader("Authorization", "REPLACE_KEY_VALUE")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Ruby + Native
        source: |-
          require 'uri'
          require 'net/http'
          require 'openssl'

          url = URI("https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Get.new(url)
          request["Authorization"] = 'REPLACE_KEY_VALUE'

          response = http.request(request)
          puts response.read_body
      x-accepts: application/json
  /api/v1/account/:
    get:
      responses:
        "200":
          content:
            application/json:
              example:
                accounts:
                - accountId: 6290ccfd42831958a405debc
                  isDefault: true
                  balance:
                    total: 129430
                    blocked: 0
                    available: 129430
                - accountId: 6286b467a7910113577e00ce
                  isDefault: false
                  balance:
                    total: 130
                    blocked: 100
                    available: 30
              schema:
                $ref: '#/components/schemas/_api_v1_account__get_200_response'
          description: A list of Accounts
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_400_response'
          description: An error message
      summary: Get a list of Accounts
      tags:
      - account
      x-codeSamples:
      - lang: Node + Native
        source: |-
          const http = require("https");

          const options = {
            "method": "GET",
            "hostname": "api.woovi.com",
            "port": null,
            "path": "/api/v1/account/",
            "headers": {
              "Authorization": "REPLACE_KEY_VALUE"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.end();
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url https://api.woovi.com/api/v1/account/ \
            --header 'Authorization: REPLACE_KEY_VALUE'
      - lang: Php + Curl
        source: |-
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, [
            CURLOPT_URL => "https://api.woovi.com/api/v1/account/",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "GET",
            CURLOPT_HTTPHEADER => [
              "Authorization: REPLACE_KEY_VALUE"
            ],
          ]);

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("api.woovi.com")

          headers = { 'Authorization': "REPLACE_KEY_VALUE" }

          conn.request("GET", "/api/v1/account/", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/account/\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Java + Okhttp
        source: |-
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://api.woovi.com/api/v1/account/")
            .get()
            .addHeader("Authorization", "REPLACE_KEY_VALUE")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Ruby + Native
        source: |-
          require 'uri'
          require 'net/http'
          require 'openssl'

          url = URI("https://api.woovi.com/api/v1/account/")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Get.new(url)
          request["Authorization"] = 'REPLACE_KEY_VALUE'

          response = http.request(request)
          puts response.read_body
      x-accepts: application/json
  /api/v1/account/{accountId}/withdraw:
    post:
      description: An additional fee may be charged depending on the minimum free
        withdrawal amount. See more about at https://developers.openpix.com.br/docs/FAQ/faq-virtual-account/#onde-posso-consultar-as-taxas-da-minha-conta-virtual
      parameters:
      - description: ID of the Account
        example: 6290ccfd42831958a405debc
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              value: 7000
            schema:
              $ref: '#/components/schemas/_api_v1_account__accountId__withdraw_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                withdraw:
                  account:
                    accountId: 6290ccfd42831958a405debc
                    isDefault: true
                    balance:
                      total: 122430
                      blocked: 0
                      available: 122430
                  transaction:
                    endToEndId: E23114447202205191817cx6VMrbwtw6
                    transaction: 7000
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__withdraw_post_200_response'
          description: Withdraw and Acccount information
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_400_response'
          description: An error message
      summary: Withdraw from an Account
      tags:
      - account
      x-codeSamples:
      - lang: Node + Native
        source: |-
          const http = require("https");

          const options = {
            "method": "POST",
            "hostname": "api.woovi.com",
            "port": null,
            "path": "/api/v1/account/6290ccfd42831958a405debc/withdraw",
            "headers": {
              "content-type": "application/json",
              "Authorization": "REPLACE_KEY_VALUE"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.write(JSON.stringify({value: 0}));
          req.end();
      - lang: Shell + Curl
        source: |-
          curl --request POST \
            --url https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc/withdraw \
            --header 'Authorization: REPLACE_KEY_VALUE' \
            --header 'content-type: application/json' \
            --data '{"value":0}'
      - lang: Php + Curl
        source: |-
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, [
            CURLOPT_URL => "https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc/withdraw",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "POST",
            CURLOPT_POSTFIELDS => "{\"value\":0}",
            CURLOPT_HTTPHEADER => [
              "Authorization: REPLACE_KEY_VALUE",
              "content-type: application/json"
            ],
          ]);

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("api.woovi.com")

          payload = "{\"value\":0}"

          headers = {
              'content-type': "application/json",
              'Authorization': "REPLACE_KEY_VALUE"
              }

          conn.request("POST", "/api/v1/account/6290ccfd42831958a405debc/withdraw", payload, headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\
          \n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc/withdraw\"\
          \n\n\tpayload := strings.NewReader(\"{\\\"value\\\":0}\")\n\n\treq, _ :=\
          \ http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\"\
          , \"application/json\")\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\"\
          )\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\
          \tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\
          \n}"
      - lang: Java + Okhttp
        source: |-
          OkHttpClient client = new OkHttpClient();

          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{\"value\":0}");
          Request request = new Request.Builder()
            .url("https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc/withdraw")
            .post(body)
            .addHeader("content-type", "application/json")
            .addHeader("Authorization", "REPLACE_KEY_VALUE")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Ruby + Native
        source: |-
          require 'uri'
          require 'net/http'
          require 'openssl'

          url = URI("https://api.woovi.com/api/v1/account/6290ccfd42831958a405debc/withdraw")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Post.new(url)
          request["content-type"] = 'application/json'
          request["Authorization"] = 'REPLACE_KEY_VALUE'
          request.body = "{\"value\":0}"

          response = http.request(request)
          puts response.read_body
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/cashback-fidelity/balance/{taxID}:
    get:
      parameters:
      - description: The raw tax ID from the customer you want to get the balance.
        examples:
          taxID:
            value: "60151449000182"
        explode: false
        in: path
        name: taxID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_cashback_fidelity_balance__taxID__get_200_response'
          description: Amount the user still has to receive.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_400_response'
          description: An error message
      summary: Get the exclusive cashback amount an user still has to receive by taxID.
      tags:
      - cashback-fidelity
      x-codeSamples:
      - lang: Node + Native
        source: |-
          const http = require("https");

          const options = {
            "method": "GET",
            "hostname": "api.woovi.com",
            "port": null,
            "path": "/api/v1/cashback-fidelity/balance/%7BtaxID%7D",
            "headers": {
              "Authorization": "REPLACE_KEY_VALUE"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.end();
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url https://api.woovi.com/api/v1/cashback-fidelity/balance/%7BtaxID%7D \
            --header 'Authorization: REPLACE_KEY_VALUE'
      - lang: Php + Curl
        source: |-
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, [
            CURLOPT_URL => "https://api.woovi.com/api/v1/cashback-fidelity/balance/%7BtaxID%7D",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "GET",
            CURLOPT_HTTPHEADER => [
              "Authorization: REPLACE_KEY_VALUE"
            ],
          ]);

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("api.woovi.com")

          headers = { 'Authorization': "REPLACE_KEY_VALUE" }

          conn.request("GET", "/api/v1/cashback-fidelity/balance/%7BtaxID%7D", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/cashback-fidelity/balance/%7BtaxID%7D\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Java + Okhttp
        source: |-
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://api.woovi.com/api/v1/cashback-fidelity/balance/%7BtaxID%7D")
            .get()
            .addHeader("Authorization", "REPLACE_KEY_VALUE")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Ruby + Native
        source: |-
          require 'uri'
          require 'net/http'
          require 'openssl'

          url = URI("https://api.woovi.com/api/v1/cashback-fidelity/balance/%7BtaxID%7D")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Get.new(url)
          request["Authorization"] = 'REPLACE_KEY_VALUE'

          response = http.request(request)
          puts response.read_body
      x-accepts: application/json
  /api/v1/cashback-fidelity:
    post:
      description: "Create a new cashback exclusive for the customer with a given\
        \ taxID. If the customer already has a pending excluisve cashback, this endpoint\
        \ will return it instead."
      requestBody:
        content:
          application/json:
            example:
              value: 100
              taxID: 11111111111
            schema:
              $ref: '#/components/schemas/_api_v1_cashback_fidelity_post_request'
        description: Customer's taxID and the cash
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_cashback_fidelity_post_200_response'
          description: "Didn't create a new cashback, returning previously existing\
            \ cashback information instead."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_cashback_fidelity_post_201_response'
          description: New cashback created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_400_response'
          description: An error message
      summary: Get or create cashback for a customer.
      tags:
      - cashback-fidelity
      x-codeSamples:
      - lang: Node + Native
        source: |-
          const http = require("https");

          const options = {
            "method": "POST",
            "hostname": "api.woovi.com",
            "port": null,
            "path": "/api/v1/cashback-fidelity",
            "headers": {
              "content-type": "application/json",
              "Authorization": "REPLACE_KEY_VALUE"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.write(JSON.stringify({taxID: 'string', value: 0}));
          req.end();
      - lang: Shell + Curl
        source: |-
          curl --request POST \
            --url https://api.woovi.com/api/v1/cashback-fidelity \
            --header 'Authorization: REPLACE_KEY_VALUE' \
            --header 'content-type: application/json' \
            --data '{"taxID":"string","value":0}'
      - lang: Php + Curl
        source: |-
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, [
            CURLOPT_URL => "https://api.woovi.com/api/v1/cashback-fidelity",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "POST",
            CURLOPT_POSTFIELDS => "{\"taxID\":\"string\",\"value\":0}",
            CURLOPT_HTTPHEADER => [
              "Authorization: REPLACE_KEY_VALUE",
              "content-type: application/json"
            ],
          ]);

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("api.woovi.com")

          payload = "{\"taxID\":\"string\",\"value\":0}"

          headers = {
              'content-type': "application/json",
              'Authorization': "REPLACE_KEY_VALUE"
              }

          conn.request("POST", "/api/v1/cashback-fidelity", payload, headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\
          \n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/cashback-fidelity\"\
          \n\n\tpayload := strings.NewReader(\"{\\\"taxID\\\":\\\"string\\\",\\\"\
          value\\\":0}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\
          \n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"\
          Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Java + Okhttp
        source: |-
          OkHttpClient client = new OkHttpClient();

          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{\"taxID\":\"string\",\"value\":0}");
          Request request = new Request.Builder()
            .url("https://api.woovi.com/api/v1/cashback-fidelity")
            .post(body)
            .addHeader("content-type", "application/json")
            .addHeader("Authorization", "REPLACE_KEY_VALUE")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Ruby + Native
        source: |-
          require 'uri'
          require 'net/http'
          require 'openssl'

          url = URI("https://api.woovi.com/api/v1/cashback-fidelity")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Post.new(url)
          request["content-type"] = 'application/json'
          request["Authorization"] = 'REPLACE_KEY_VALUE'
          request.body = "{\"taxID\":\"string\",\"value\":0}"

          response = http.request(request)
          puts response.read_body
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/charge/{id}:
    delete:
      parameters:
      - description: "charge ID or correlation ID. You will need URI encoding if your\
          \ correlation ID has characters outside the ASCII set or reserved characters\
          \ (%, \\#, /)."
        examples:
          chargeId:
            value: Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA==
          correlationID:
            value: fe7834b4060c488a9b0f89811be5f5cf
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_charge__id__delete_200_response'
          description: The charge deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_400_response'
          description: An error message
      summary: Delete a charge
      tags:
      - charge
      x-codeSamples:
      - lang: Node + Native
        source: |-
          const http = require("https");

          const options = {
            "method": "DELETE",
            "hostname": "api.woovi.com",
            "port": null,
            "path": "/api/v1/charge/%7Bid%7D",
            "headers": {
              "Authorization": "REPLACE_KEY_VALUE"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.end();
      - lang: Shell + Curl
        source: |-
          curl --request DELETE \
            --url https://api.woovi.com/api/v1/charge/%7Bid%7D \
            --header 'Authorization: REPLACE_KEY_VALUE'
      - lang: Php + Curl
        source: |-
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, [
            CURLOPT_URL => "https://api.woovi.com/api/v1/charge/%7Bid%7D",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "DELETE",
            CURLOPT_HTTPHEADER => [
              "Authorization: REPLACE_KEY_VALUE"
            ],
          ]);

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("api.woovi.com")

          headers = { 'Authorization': "REPLACE_KEY_VALUE" }

          conn.request("DELETE", "/api/v1/charge/%7Bid%7D", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/charge/%7Bid%7D\"\
          \n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Java + Okhttp
        source: |-
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://api.woovi.com/api/v1/charge/%7Bid%7D")
            .delete(null)
            .addHeader("Authorization", "REPLACE_KEY_VALUE")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Ruby + Native
        source: |-
          require 'uri'
          require 'net/http'
          require 'openssl'

          url = URI("https://api.woovi.com/api/v1/charge/%7Bid%7D")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Delete.new(url)
          request["Authorization"] = 'REPLACE_KEY_VALUE'

          response = http.request(request)
          puts response.read_body
      x-accepts: application/json
    get:
      parameters:
      - description: "charge ID or correlation ID. You will need URI encoding if your\
          \ correlation ID has characters outside the ASCII set or reserved characters\
          \ (%, \\#, /)."
        examples:
          chargeId:
            value: Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA==
          correlationID:
            value: fe7834b4060c488a9b0f89811be5f5cf
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_charge__id__get_200_response'
          description: The charge retrieve using the given ID
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_400_response'
          description: An error message
      summary: Get one charge
      tags:
      - charge
      x-codeSamples:
      - lang: Node + Native
        source: |-
          const http = require("https");

          const options = {
            "method": "GET",
            "hostname": "api.woovi.com",
            "port": null,
            "path": "/api/v1/charge/%7Bid%7D",
            "headers": {
              "Authorization": "REPLACE_KEY_VALUE"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.end();
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url https://api.woovi.com/api/v1/charge/%7Bid%7D \
            --header 'Authorization: REPLACE_KEY_VALUE'
      - lang: Php + Curl
        source: |-
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, [
            CURLOPT_URL => "https://api.woovi.com/api/v1/charge/%7Bid%7D",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "GET",
            CURLOPT_HTTPHEADER => [
              "Authorization: REPLACE_KEY_VALUE"
            ],
          ]);

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("api.woovi.com")

          headers = { 'Authorization': "REPLACE_KEY_VALUE" }

          conn.request("GET", "/api/v1/charge/%7Bid%7D", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/charge/%7Bid%7D\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Java + Okhttp
        source: |-
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://api.woovi.com/api/v1/charge/%7Bid%7D")
            .get()
            .addHeader("Authorization", "REPLACE_KEY_VALUE")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Ruby + Native
        source: |-
          require 'uri'
          require 'net/http'
          require 'openssl'

          url = URI("https://api.woovi.com/api/v1/charge/%7Bid%7D")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Get.new(url)
          request["Authorization"] = 'REPLACE_KEY_VALUE'

          response = http.request(request)
          puts response.read_body
      x-accepts: application/json
  /api/v1/charge:
    get:
      parameters:
      - explode: true
        in: query
        name: start
        required: false
        schema:
          description: Start date used in the query. Complies with RFC 3339.
          example: 2020-01-01T00:00:00Z
          format: date-time
          title: Start Date
          type: string
        style: form
      - explode: true
        in: query
        name: end
        required: false
        schema:
          description: End date used in the query. Complies with RFC 3339.
          example: 2020-12-01T17:00:00Z
          format: date-time
          title: End Date
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - ACTIVE
          - COMPLETED
          - EXPIRED
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_charge_get_200_response'
          description: A list of charges
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_400_response'
          description: An error message
      summary: Get a list of charges
      tags:
      - charge
      x-codeSamples:
      - lang: Node + Native
        source: |-
          const http = require("https");

          const options = {
            "method": "GET",
            "hostname": "api.woovi.com",
            "port": null,
            "path": "/api/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE",
            "headers": {
              "Authorization": "REPLACE_KEY_VALUE"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.end();
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://api.woovi.com/api/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE' \
            --header 'Authorization: REPLACE_KEY_VALUE'
      - lang: Php + Curl
        source: |-
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, [
            CURLOPT_URL => "https://api.woovi.com/api/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "GET",
            CURLOPT_HTTPHEADER => [
              "Authorization: REPLACE_KEY_VALUE"
            ],
          ]);

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("api.woovi.com")

          headers = { 'Authorization': "REPLACE_KEY_VALUE" }

          conn.request("GET", "/api/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Java + Okhttp
        source: |-
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://api.woovi.com/api/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE")
            .get()
            .addHeader("Authorization", "REPLACE_KEY_VALUE")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Ruby + Native
        source: |-
          require 'uri'
          require 'net/http'
          require 'openssl'

          url = URI("https://api.woovi.com/api/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Get.new(url)
          request["Authorization"] = 'REPLACE_KEY_VALUE'

          response = http.request(request)
          puts response.read_body
      x-accepts: application/json
    post:
      description: Endpoint to create a new Charge for a customer
      parameters:
      - description: "Make the endpoint idempotent, will return an existent charge\
          \ if already has a one with the correlationID"
        examples:
          return_existing:
            value: true
        explode: true
        in: query
        name: return_existing
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            examples:
              Charge:
                value:
                  correlationID: 9134e286-6f71-427a-bf00-241681624587
                  value: 100
                  comment: good
                  customer:
                    name: Dan
                    taxID: "31324227036"
                    email: email0@example.com
                    phone: "5511999999999"
                  additionalInfo:
                  - key: Product
                    value: Pencil
                  - key: Invoice
                    value: "18476"
                  - key: Order
                    value: "302"
              Charge with Interests and Fines:
                value:
                  type: OVERDUE
                  correlationID: 9134e286-6f71-427a-bf00-241681624587
                  value: 100
                  comment: good
                  daysForDueDate: 5
                  daysAfterDueDate: 5
                  interests:
                    value: 10
                  fines:
                    value: 20
                  customer:
                    name: Dan
                    taxID: "31324227036"
                    email: email0@example.com
                    phone: "5511999999999"
                    address:
                      zipcode: "30421322"
                      street: Street
                      number: "100"
                      neighborhood: Neighborhood
                      city: Belo Horizonte
                      state: MG
                      complement: APTO
                      country: BR
                  additionalInfo:
                  - key: Product
                    value: Pencil
                  - key: Invoice
                    value: "18476"
                  - key: Order
                    value: "302"
            schema:
              $ref: '#/components/schemas/ChargePayload'
        description: Data to create a new charge
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_charge_post_200_response'
          description: Charge ID and also the generated Dynamic BR Code to be rendered
            as a QRCode
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_400_response'
          description: An error message
      summary: Create a new Charge
      tags:
      - charge
      x-codeSamples:
      - lang: Node + Native
        source: |-
          const http = require("https");

          const options = {
            "method": "POST",
            "hostname": "api.woovi.com",
            "port": null,
            "path": "/api/v1/charge?return_existing=SOME_BOOLEAN_VALUE",
            "headers": {
              "content-type": "application/json",
              "Authorization": "REPLACE_KEY_VALUE"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.write(JSON.stringify({
            correlationID: 'string',
            value: 0,
            type: 'DYNAMIC',
            comment: 'string',
            identifier: 'string',
            expiresIn: 0,
            customer: {
              name: 'string',
              email: 'string',
              phone: 'string',
              taxID: 'string',
              correlationID: 'string',
              address: {
                zipcode: 'string',
                street: 'string',
                number: 'string',
                neighborhood: 'string',
                city: 'string',
                state: 'string',
                complement: 'string',
                country: 'string'
              }
            },
            daysForDueDate: 0,
            daysAfterDueDate: 0,
            interests: {value: 0},
            fines: {value: 0},
            additionalInfo: [{key: 'string', value: 'string'}]
          }));
          req.end();
      - lang: Shell + Curl
        source: |-
          curl --request POST \
            --url 'https://api.woovi.com/api/v1/charge?return_existing=SOME_BOOLEAN_VALUE' \
            --header 'Authorization: REPLACE_KEY_VALUE' \
            --header 'content-type: application/json' \
            --data '{"correlationID":"string","value":0,"type":"DYNAMIC","comment":"string","identifier":"string","expiresIn":0,"customer":{"name":"string","email":"string","phone":"string","taxID":"string","correlationID":"string","address":{"zipcode":"string","street":"string","number":"string","neighborhood":"string","city":"string","state":"string","complement":"string","country":"string"}},"daysForDueDate":0,"daysAfterDueDate":0,"interests":{"value":0},"fines":{"value":0},"additionalInfo":[{"key":"string","value":"string"}]}'
      - lang: Php + Curl
        source: |-
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, [
            CURLOPT_URL => "https://api.woovi.com/api/v1/charge?return_existing=SOME_BOOLEAN_VALUE",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "POST",
            CURLOPT_POSTFIELDS => "{\"correlationID\":\"string\",\"value\":0,\"type\":\"DYNAMIC\",\"comment\":\"string\",\"identifier\":\"string\",\"expiresIn\":0,\"customer\":{\"name\":\"string\",\"email\":\"string\",\"phone\":\"string\",\"taxID\":\"string\",\"correlationID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"country\":\"string\"}},\"daysForDueDate\":0,\"daysAfterDueDate\":0,\"interests\":{\"value\":0},\"fines\":{\"value\":0},\"additionalInfo\":[{\"key\":\"string\",\"value\":\"string\"}]}",
            CURLOPT_HTTPHEADER => [
              "Authorization: REPLACE_KEY_VALUE",
              "content-type: application/json"
            ],
          ]);

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("api.woovi.com")

          payload = "{\"correlationID\":\"string\",\"value\":0,\"type\":\"DYNAMIC\",\"comment\":\"string\",\"identifier\":\"string\",\"expiresIn\":0,\"customer\":{\"name\":\"string\",\"email\":\"string\",\"phone\":\"string\",\"taxID\":\"string\",\"correlationID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"country\":\"string\"}},\"daysForDueDate\":0,\"daysAfterDueDate\":0,\"interests\":{\"value\":0},\"fines\":{\"value\":0},\"additionalInfo\":[{\"key\":\"string\",\"value\":\"string\"}]}"

          headers = {
              'content-type': "application/json",
              'Authorization': "REPLACE_KEY_VALUE"
              }

          conn.request("POST", "/api/v1/charge?return_existing=SOME_BOOLEAN_VALUE", payload, headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\
          \n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/charge?return_existing=SOME_BOOLEAN_VALUE\"\
          \n\n\tpayload := strings.NewReader(\"{\\\"correlationID\\\":\\\"string\\\
          \",\\\"value\\\":0,\\\"type\\\":\\\"DYNAMIC\\\",\\\"comment\\\":\\\"string\\\
          \",\\\"identifier\\\":\\\"string\\\",\\\"expiresIn\\\":0,\\\"customer\\\"\
          :{\\\"name\\\":\\\"string\\\",\\\"email\\\":\\\"string\\\",\\\"phone\\\"\
          :\\\"string\\\",\\\"taxID\\\":\\\"string\\\",\\\"correlationID\\\":\\\"\
          string\\\",\\\"address\\\":{\\\"zipcode\\\":\\\"string\\\",\\\"street\\\"\
          :\\\"string\\\",\\\"number\\\":\\\"string\\\",\\\"neighborhood\\\":\\\"\
          string\\\",\\\"city\\\":\\\"string\\\",\\\"state\\\":\\\"string\\\",\\\"\
          complement\\\":\\\"string\\\",\\\"country\\\":\\\"string\\\"}},\\\"daysForDueDate\\\
          \":0,\\\"daysAfterDueDate\\\":0,\\\"interests\\\":{\\\"value\\\":0},\\\"\
          fines\\\":{\\\"value\\\":0},\\\"additionalInfo\\\":[{\\\"key\\\":\\\"string\\\
          \",\\\"value\\\":\\\"string\\\"}]}\")\n\n\treq, _ := http.NewRequest(\"\
          POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\"\
          )\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres,\
          \ _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _\
          \ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\
          \n}"
      - lang: Java + Okhttp
        source: |-
          OkHttpClient client = new OkHttpClient();

          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{\"correlationID\":\"string\",\"value\":0,\"type\":\"DYNAMIC\",\"comment\":\"string\",\"identifier\":\"string\",\"expiresIn\":0,\"customer\":{\"name\":\"string\",\"email\":\"string\",\"phone\":\"string\",\"taxID\":\"string\",\"correlationID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"country\":\"string\"}},\"daysForDueDate\":0,\"daysAfterDueDate\":0,\"interests\":{\"value\":0},\"fines\":{\"value\":0},\"additionalInfo\":[{\"key\":\"string\",\"value\":\"string\"}]}");
          Request request = new Request.Builder()
            .url("https://api.woovi.com/api/v1/charge?return_existing=SOME_BOOLEAN_VALUE")
            .post(body)
            .addHeader("content-type", "application/json")
            .addHeader("Authorization", "REPLACE_KEY_VALUE")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Ruby + Native
        source: |-
          require 'uri'
          require 'net/http'
          require 'openssl'

          url = URI("https://api.woovi.com/api/v1/charge?return_existing=SOME_BOOLEAN_VALUE")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Post.new(url)
          request["content-type"] = 'application/json'
          request["Authorization"] = 'REPLACE_KEY_VALUE'
          request.body = "{\"correlationID\":\"string\",\"value\":0,\"type\":\"DYNAMIC\",\"comment\":\"string\",\"identifier\":\"string\",\"expiresIn\":0,\"customer\":{\"name\":\"string\",\"email\":\"string\",\"phone\":\"string\",\"taxID\":\"string\",\"correlationID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"country\":\"string\"}},\"daysForDueDate\":0,\"daysAfterDueDate\":0,\"interests\":{\"value\":0},\"fines\":{\"value\":0},\"additionalInfo\":[{\"key\":\"string\",\"value\":\"string\"}]}"

          response = http.request(request)
          puts response.read_body
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/charge/{id}/refund:
    get:
      description: Endpoint to get all refunds of a charge
      parameters:
      - description: "The correlation ID of the charge. You will need URI encoding\
          \ if your correlation ID has characters outside the ASCII set or reserved\
          \ characters (%, \\#, /)."
        examples:
          uuid:
            value: cf4012c9-b2ac-484d-8121-deedd1c6d8af
          random-string:
            value: fe7834b4060c488a9b0f89811be5f5cf
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_charge__id__refund_get_200_response'
          description: A list of refunds
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_400_response'
          description: An error message
      summary: Get all refunds of a charge
      tags:
      - charge refund
      x-codeSamples:
      - lang: Node + Native
        source: |-
          const http = require("https");

          const options = {
            "method": "GET",
            "hostname": "api.woovi.com",
            "port": null,
            "path": "/api/v1/charge/%7Bid%7D/refund",
            "headers": {
              "Authorization": "REPLACE_KEY_VALUE"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.end();
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url https://api.woovi.com/api/v1/charge/%7Bid%7D/refund \
            --header 'Authorization: REPLACE_KEY_VALUE'
      - lang: Php + Curl
        source: |-
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, [
            CURLOPT_URL => "https://api.woovi.com/api/v1/charge/%7Bid%7D/refund",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "GET",
            CURLOPT_HTTPHEADER => [
              "Authorization: REPLACE_KEY_VALUE"
            ],
          ]);

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("api.woovi.com")

          headers = { 'Authorization': "REPLACE_KEY_VALUE" }

          conn.request("GET", "/api/v1/charge/%7Bid%7D/refund", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/charge/%7Bid%7D/refund\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Java + Okhttp
        source: |-
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://api.woovi.com/api/v1/charge/%7Bid%7D/refund")
            .get()
            .addHeader("Authorization", "REPLACE_KEY_VALUE")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Ruby + Native
        source: |-
          require 'uri'
          require 'net/http'
          require 'openssl'

          url = URI("https://api.woovi.com/api/v1/charge/%7Bid%7D/refund")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Get.new(url)
          request["Authorization"] = 'REPLACE_KEY_VALUE'

          response = http.request(request)
          puts response.read_body
      x-accepts: application/json
    post:
      description: Endpoint to create a new refund for a charge
      parameters:
      - description: "The correlation ID of the charge. You will need URI encoding\
          \ if your correlation ID has characters outside the ASCII set or reserved\
          \ characters (%, \\#, /)."
        examples:
          uuid:
            value: cf4012c9-b2ac-484d-8121-deedd1c6d8af
          random-string:
            value: fe7834b4060c488a9b0f89811be5f5cf
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              correlationID: a273e72c-9547-4c75-a213-3b0a2735b8d5
              value: 100
              comment: Comentário do reembolso
            schema:
              $ref: '#/components/schemas/ChargeRefundPayload'
        description: Data to create a new refund for a charge
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_charge__id__refund_post_200_response'
          description: The created Refund
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_400_response'
          description: An error message
      summary: Create a new refund for a charge
      tags:
      - charge refund
      x-codeSamples:
      - lang: Node + Native
        source: |-
          const http = require("https");

          const options = {
            "method": "POST",
            "hostname": "api.woovi.com",
            "port": null,
            "path": "/api/v1/charge/%7Bid%7D/refund",
            "headers": {
              "content-type": "application/json",
              "Authorization": "REPLACE_KEY_VALUE"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.write(JSON.stringify({correlationID: 'string', value: 0, comment: 'string'}));
          req.end();
      - lang: Shell + Curl
        source: |-
          curl --request POST \
            --url https://api.woovi.com/api/v1/charge/%7Bid%7D/refund \
            --header 'Authorization: REPLACE_KEY_VALUE' \
            --header 'content-type: application/json' \
            --data '{"correlationID":"string","value":0,"comment":"string"}'
      - lang: Php + Curl
        source: |-
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, [
            CURLOPT_URL => "https://api.woovi.com/api/v1/charge/%7Bid%7D/refund",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "POST",
            CURLOPT_POSTFIELDS => "{\"correlationID\":\"string\",\"value\":0,\"comment\":\"string\"}",
            CURLOPT_HTTPHEADER => [
              "Authorization: REPLACE_KEY_VALUE",
              "content-type: application/json"
            ],
          ]);

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("api.woovi.com")

          payload = "{\"correlationID\":\"string\",\"value\":0,\"comment\":\"string\"}"

          headers = {
              'content-type': "application/json",
              'Authorization': "REPLACE_KEY_VALUE"
              }

          conn.request("POST", "/api/v1/charge/%7Bid%7D/refund", payload, headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\
          \n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/charge/%7Bid%7D/refund\"\
          \n\n\tpayload := strings.NewReader(\"{\\\"correlationID\\\":\\\"string\\\
          \",\\\"value\\\":0,\\\"comment\\\":\\\"string\\\"}\")\n\n\treq, _ := http.NewRequest(\"\
          POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\"\
          )\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres,\
          \ _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _\
          \ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\
          \n}"
      - lang: Java + Okhttp
        source: |-
          OkHttpClient client = new OkHttpClient();

          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{\"correlationID\":\"string\",\"value\":0,\"comment\":\"string\"}");
          Request request = new Request.Builder()
            .url("https://api.woovi.com/api/v1/charge/%7Bid%7D/refund")
            .post(body)
            .addHeader("content-type", "application/json")
            .addHeader("Authorization", "REPLACE_KEY_VALUE")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Ruby + Native
        source: |-
          require 'uri'
          require 'net/http'
          require 'openssl'

          url = URI("https://api.woovi.com/api/v1/charge/%7Bid%7D/refund")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Post.new(url)
          request["content-type"] = 'application/json'
          request["Authorization"] = 'REPLACE_KEY_VALUE'
          request.body = "{\"correlationID\":\"string\",\"value\":0,\"comment\":\"string\"}"

          response = http.request(request)
          puts response.read_body
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/customer/{id}:
    get:
      parameters:
      - description: correlation ID
        examples:
          correlationID:
            value: fe7834b4060c488a9b0f89811be5f5cf
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_customer__id__get_200_response'
          description: The customer retrieve using the given ID
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_400_response'
          description: An error message
      summary: Get one customer
      tags:
      - customer
      x-codeSamples:
      - lang: Node + Native
        source: |-
          const http = require("https");

          const options = {
            "method": "GET",
            "hostname": "api.woovi.com",
            "port": null,
            "path": "/api/v1/customer/%7Bid%7D",
            "headers": {
              "Authorization": "REPLACE_KEY_VALUE"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.end();
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url https://api.woovi.com/api/v1/customer/%7Bid%7D \
            --header 'Authorization: REPLACE_KEY_VALUE'
      - lang: Php + Curl
        source: |-
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, [
            CURLOPT_URL => "https://api.woovi.com/api/v1/customer/%7Bid%7D",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "GET",
            CURLOPT_HTTPHEADER => [
              "Authorization: REPLACE_KEY_VALUE"
            ],
          ]);

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("api.woovi.com")

          headers = { 'Authorization': "REPLACE_KEY_VALUE" }

          conn.request("GET", "/api/v1/customer/%7Bid%7D", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/customer/%7Bid%7D\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Java + Okhttp
        source: |-
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://api.woovi.com/api/v1/customer/%7Bid%7D")
            .get()
            .addHeader("Authorization", "REPLACE_KEY_VALUE")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Ruby + Native
        source: |-
          require 'uri'
          require 'net/http'
          require 'openssl'

          url = URI("https://api.woovi.com/api/v1/customer/%7Bid%7D")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Get.new(url)
          request["Authorization"] = 'REPLACE_KEY_VALUE'

          response = http.request(request)
          puts response.read_body
      x-accepts: application/json
  /api/v1/customer:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_customer_get_200_response'
          description: A list of customers
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_400_response'
          description: An error message
      summary: Get a list of customers
      tags:
      - customer
      x-codeSamples:
      - lang: Node + Native
        source: |-
          const http = require("https");

          const options = {
            "method": "GET",
            "hostname": "api.woovi.com",
            "port": null,
            "path": "/api/v1/customer",
            "headers": {
              "Authorization": "REPLACE_KEY_VALUE"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.end();
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url https://api.woovi.com/api/v1/customer \
            --header 'Authorization: REPLACE_KEY_VALUE'
      - lang: Php + Curl
        source: |-
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, [
            CURLOPT_URL => "https://api.woovi.com/api/v1/customer",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "GET",
            CURLOPT_HTTPHEADER => [
              "Authorization: REPLACE_KEY_VALUE"
            ],
          ]);

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("api.woovi.com")

          headers = { 'Authorization': "REPLACE_KEY_VALUE" }

          conn.request("GET", "/api/v1/customer", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/customer\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Java + Okhttp
        source: |-
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://api.woovi.com/api/v1/customer")
            .get()
            .addHeader("Authorization", "REPLACE_KEY_VALUE")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Ruby + Native
        source: |-
          require 'uri'
          require 'net/http'
          require 'openssl'

          url = URI("https://api.woovi.com/api/v1/customer")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Get.new(url)
          request["Authorization"] = 'REPLACE_KEY_VALUE'

          response = http.request(request)
          puts response.read_body
      x-accepts: application/json
    post:
      description: Endpoint to create a new Customer
      requestBody:
        content:
          application/json:
            example:
              name: Dan
              taxID: "31324227036"
              email: email0@example.com
              phone: "5511999999999"
              correlationID: 9134e286-6f71-427a-bf00-241681624586
            schema:
              $ref: '#/components/schemas/CustomerPayload'
        description: Data to create a new customer
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_customer_post_200_response'
          description: Customer ID
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_400_response'
          description: An error message
      summary: Create a new Customer
      tags:
      - customer
      x-codeSamples:
      - lang: Node + Native
        source: |-
          const http = require("https");

          const options = {
            "method": "POST",
            "hostname": "api.woovi.com",
            "port": null,
            "path": "/api/v1/customer",
            "headers": {
              "content-type": "application/json",
              "Authorization": "REPLACE_KEY_VALUE"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.write(JSON.stringify({
            name: 'string',
            email: 'string',
            phone: 'string',
            taxID: 'string',
            correlationID: 'string',
            address: {
              zipcode: 'string',
              street: 'string',
              number: 'string',
              neighborhood: 'string',
              city: 'string',
              state: 'string',
              complement: 'string',
              country: 'string'
            }
          }));
          req.end();
      - lang: Shell + Curl
        source: |-
          curl --request POST \
            --url https://api.woovi.com/api/v1/customer \
            --header 'Authorization: REPLACE_KEY_VALUE' \
            --header 'content-type: application/json' \
            --data '{"name":"string","email":"string","phone":"string","taxID":"string","correlationID":"string","address":{"zipcode":"string","street":"string","number":"string","neighborhood":"string","city":"string","state":"string","complement":"string","country":"string"}}'
      - lang: Php + Curl
        source: |-
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, [
            CURLOPT_URL => "https://api.woovi.com/api/v1/customer",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "POST",
            CURLOPT_POSTFIELDS => "{\"name\":\"string\",\"email\":\"string\",\"phone\":\"string\",\"taxID\":\"string\",\"correlationID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"country\":\"string\"}}",
            CURLOPT_HTTPHEADER => [
              "Authorization: REPLACE_KEY_VALUE",
              "content-type: application/json"
            ],
          ]);

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("api.woovi.com")

          payload = "{\"name\":\"string\",\"email\":\"string\",\"phone\":\"string\",\"taxID\":\"string\",\"correlationID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"country\":\"string\"}}"

          headers = {
              'content-type': "application/json",
              'Authorization': "REPLACE_KEY_VALUE"
              }

          conn.request("POST", "/api/v1/customer", payload, headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\
          \n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/customer\"\
          \n\n\tpayload := strings.NewReader(\"{\\\"name\\\":\\\"string\\\",\\\"email\\\
          \":\\\"string\\\",\\\"phone\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\
          \",\\\"correlationID\\\":\\\"string\\\",\\\"address\\\":{\\\"zipcode\\\"\
          :\\\"string\\\",\\\"street\\\":\\\"string\\\",\\\"number\\\":\\\"string\\\
          \",\\\"neighborhood\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\",\\\"\
          state\\\":\\\"string\\\",\\\"complement\\\":\\\"string\\\",\\\"country\\\
          \":\\\"string\\\"}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\
          \n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"\
          Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Java + Okhttp
        source: |-
          OkHttpClient client = new OkHttpClient();

          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{\"name\":\"string\",\"email\":\"string\",\"phone\":\"string\",\"taxID\":\"string\",\"correlationID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"country\":\"string\"}}");
          Request request = new Request.Builder()
            .url("https://api.woovi.com/api/v1/customer")
            .post(body)
            .addHeader("content-type", "application/json")
            .addHeader("Authorization", "REPLACE_KEY_VALUE")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Ruby + Native
        source: |-
          require 'uri'
          require 'net/http'
          require 'openssl'

          url = URI("https://api.woovi.com/api/v1/customer")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Post.new(url)
          request["content-type"] = 'application/json'
          request["Authorization"] = 'REPLACE_KEY_VALUE'
          request.body = "{\"name\":\"string\",\"email\":\"string\",\"phone\":\"string\",\"taxID\":\"string\",\"correlationID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"country\":\"string\"}}"

          response = http.request(request)
          puts response.read_body
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/partner/application:
    post:
      description: |
        As a partner company, you can create a new application to some of your companies.
        The application should give access to our API to this companies, so they can use
        it too.
      requestBody:
        content:
          application/json:
            example:
              application:
                name: MyAPIAccess
                type: API
              taxID:
                taxID: "65914571000187"
                type: BR:CNPJ
            schema:
              $ref: '#/components/schemas/_api_v1_partner_application_post_request'
        description: The request body to create a pre registration.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_partner_application_post_200_response'
          description: |
            Our "idempotence output", if you get this HTTP code, it's an application
            that already has been registered.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_partner_application_post_200_response'
          description: |
            A new application has been registered. It'll be identified by the name that you give to it
            and by the company that has been referenced.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_400_response'
          description: An error message
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_400_response'
          description: You are unauthorized to use this endpoint.
      summary: Create a new application to some of your preregistration's company.
      tags:
      - partner (request access)
      x-codeSamples:
      - lang: Node + Native
        source: |-
          const http = require("https");

          const options = {
            "method": "POST",
            "hostname": "api.woovi.com",
            "port": null,
            "path": "/api/v1/partner/application",
            "headers": {
              "content-type": "application/json",
              "Authorization": "REPLACE_KEY_VALUE"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.write(JSON.stringify({
            application: {name: 'string', type: 'API'},
            taxID: {taxID: 'string', type: 'BR:CNPJ'}
          }));
          req.end();
      - lang: Shell + Curl
        source: |-
          curl --request POST \
            --url https://api.woovi.com/api/v1/partner/application \
            --header 'Authorization: REPLACE_KEY_VALUE' \
            --header 'content-type: application/json' \
            --data '{"application":{"name":"string","type":"API"},"taxID":{"taxID":"string","type":"BR:CNPJ"}}'
      - lang: Php + Curl
        source: |-
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, [
            CURLOPT_URL => "https://api.woovi.com/api/v1/partner/application",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "POST",
            CURLOPT_POSTFIELDS => "{\"application\":{\"name\":\"string\",\"type\":\"API\"},\"taxID\":{\"taxID\":\"string\",\"type\":\"BR:CNPJ\"}}",
            CURLOPT_HTTPHEADER => [
              "Authorization: REPLACE_KEY_VALUE",
              "content-type: application/json"
            ],
          ]);

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("api.woovi.com")

          payload = "{\"application\":{\"name\":\"string\",\"type\":\"API\"},\"taxID\":{\"taxID\":\"string\",\"type\":\"BR:CNPJ\"}}"

          headers = {
              'content-type': "application/json",
              'Authorization': "REPLACE_KEY_VALUE"
              }

          conn.request("POST", "/api/v1/partner/application", payload, headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\
          \n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/partner/application\"\
          \n\n\tpayload := strings.NewReader(\"{\\\"application\\\":{\\\"name\\\"\
          :\\\"string\\\",\\\"type\\\":\\\"API\\\"},\\\"taxID\\\":{\\\"taxID\\\":\\\
          \"string\\\",\\\"type\\\":\\\"BR:CNPJ\\\"}}\")\n\n\treq, _ := http.NewRequest(\"\
          POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\"\
          )\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres,\
          \ _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _\
          \ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\
          \n}"
      - lang: Java + Okhttp
        source: |-
          OkHttpClient client = new OkHttpClient();

          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{\"application\":{\"name\":\"string\",\"type\":\"API\"},\"taxID\":{\"taxID\":\"string\",\"type\":\"BR:CNPJ\"}}");
          Request request = new Request.Builder()
            .url("https://api.woovi.com/api/v1/partner/application")
            .post(body)
            .addHeader("content-type", "application/json")
            .addHeader("Authorization", "REPLACE_KEY_VALUE")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Ruby + Native
        source: |-
          require 'uri'
          require 'net/http'
          require 'openssl'

          url = URI("https://api.woovi.com/api/v1/partner/application")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Post.new(url)
          request["content-type"] = 'application/json'
          request["Authorization"] = 'REPLACE_KEY_VALUE'
          request.body = "{\"application\":{\"name\":\"string\",\"type\":\"API\"},\"taxID\":{\"taxID\":\"string\",\"type\":\"BR:CNPJ\"}}"

          response = http.request(request)
          puts response.read_body
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/partner/company/{taxID}:
    get:
      parameters:
      - description: The raw tax ID from the preregistration that you want to get.
        examples:
          taxID:
            value: "60151449000182"
        explode: false
        in: path
        name: taxID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_partner_company__taxID__get_200_response'
          description: The preregistration retrieved by the tax ID.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_400_response'
          description: An error message
      summary: Get an specific preregistration via taxID param.
      tags:
      - partner (request access)
      x-codeSamples:
      - lang: Node + Native
        source: |-
          const http = require("https");

          const options = {
            "method": "GET",
            "hostname": "api.woovi.com",
            "port": null,
            "path": "/api/v1/partner/company/%7BtaxID%7D",
            "headers": {
              "Authorization": "REPLACE_KEY_VALUE"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.end();
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url https://api.woovi.com/api/v1/partner/company/%7BtaxID%7D \
            --header 'Authorization: REPLACE_KEY_VALUE'
      - lang: Php + Curl
        source: |-
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, [
            CURLOPT_URL => "https://api.woovi.com/api/v1/partner/company/%7BtaxID%7D",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "GET",
            CURLOPT_HTTPHEADER => [
              "Authorization: REPLACE_KEY_VALUE"
            ],
          ]);

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("api.woovi.com")

          headers = { 'Authorization': "REPLACE_KEY_VALUE" }

          conn.request("GET", "/api/v1/partner/company/%7BtaxID%7D", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/partner/company/%7BtaxID%7D\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Java + Okhttp
        source: |-
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://api.woovi.com/api/v1/partner/company/%7BtaxID%7D")
            .get()
            .addHeader("Authorization", "REPLACE_KEY_VALUE")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Ruby + Native
        source: |-
          require 'uri'
          require 'net/http'
          require 'openssl'

          url = URI("https://api.woovi.com/api/v1/partner/company/%7BtaxID%7D")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Get.new(url)
          request["Authorization"] = 'REPLACE_KEY_VALUE'

          response = http.request(request)
          puts response.read_body
      x-accepts: application/json
  /api/v1/partner/company:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_partner_company_get_200_response'
          description: A list with preregistrations.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_account__accountId__get_400_response'
          description: An error message
      summary: Get every preregistration that is managed by you.
      tags:
      - partner (request access)
      x-codeSamples:
      - lang: Node + Native
        source: |-
          const http = require("https");

          const options = {
            "method": "GET",
            "hostname": "api.woovi.com",
            "port": null,
            "path": "/api/v1/partner/company",
            "headers": {
              "Authorization": "REPLACE_KEY_VALUE"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.end();
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url https://api.woovi.com/api/v1/partner/company \
            --header 'Authorization: REPLACE_KEY_VALUE'
      - lang: Php + Curl
        source: |-
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, [
            CURLOPT_URL => "https://api.woovi.com/api/v1/partner/company",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "GET",
            CURLOPT_HTTPHEADER => [
              "Authorization: REPLACE_KEY_VALUE"
            ],
          ]);

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("api.woovi.com")

          headers = { 'Authorization': "REPLACE_KEY_VALUE" }

          conn.request("GET", "/api/v1/partner/company", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://api.woovi.com/api/v1/partner/company\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Java + Okhttp
        source: |-
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://api.woovi.com/api/v1/partner/company")
            .get()
            .addHeader("Authorization", "REPLACE_KEY_VALUE")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Ruby + Native
        source: |-
          require 'uri'
          require 'net/http'
          require 'openssl'

          url = URI("https://api.woovi.com/api/v1/partner/company")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Get.new(url)
          request["Authorization"] = 'REPLACE_KEY_VALUE'

          response = http.request(request)
          puts response.read_body
      x-accepts: application/json
    post:
      description: |
        As a partner company, you can create a new pre registration referencing your
        company as a partner.
      requestBody:
        content:
          application/json:
            example:
              preRegistration:
                name: Example LLC
                taxID:
                  taxID: "11111111111111"
                  type: BR:CNPJ
                website: examplellc.com
              user:
                firstName: John
                lastName: Doe
[...]
